fastapi
uvicorn
python-dotenv
requests
python-multipart

sqlalchemy
asyncpg
psycopg[binary]

pinecone
langchain-core
langchain-community
langchain-pinecone>=0.2.0
langchain-google-genai

llama-cloud

pypdf

boto3
nest_asyncio
pydantic
huggingface_hub
redis>=5.0.0